
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  min-width: 320px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;
}

/*
 * Remove text-shadow in selection highlight:
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
  vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1,
h2,
h3,
a {
  color: #5514b4;
}

header {
  background: #6400AA;
}

footer {
  background-color: #5514b4;
}

header, 
footer {
  color: #ffffff;
  padding: 2rem;
}

small {
  display: block;
  text-align: center;
}

main {
  max-width: 900px;
  box-sizing: border-box;
  margin: 6rem auto;
  padding: 0 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 4rem;
}

form {
  margin-top: 1rem;
  text-align: center;
}

label {
  margin: 1rem auto;
}

input[type="text"] {
  margin: 1rem;
}

hr {
  margin: 2rem;
}

img {
  display: block;
  margin: 0 auto;
}

p,
span {
  color: #333333;
}

.error {
  text-align: center;
  margin: 0 auto;
  color: #f05f33;
}

article h3 {
  margin-bottom: 0;
}

.author {
  font-style: italic;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

